.splash {
    height: 15%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.splash-image {
    height: 40vmin;
    width: 400vmin;
    object-fit: cover;
    object-position: center;
}

mainbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: blue;
}

.content-boxes {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.boxed {
  animation: hover 2s fowards;
  color: white;
  border-radius: 10px;
  height: 400px;
  width: 22%;
  background-color: darkcyan;
  transition: all 0.5s ease;
  text-decoration: none;
}

.boxed:hover {
  transform: scale(1.5);
}

.boxed h1 {
  color: blue;
  margin: 10%;
}

.boxed p {
  margin: 10%;
}

footer {
  padding: 2rem 1rem;
  background-color: gray;
  display: flex;
}

.social-link {
   padding: 0.05%; 
}
