.splash {
    width: 100vw;
    height: 500px;
    background-color: #393D3F;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.splash h1 {
    font-weight: 1000;
    font-size: 210px;
    color: #62929E;
}

.splash-image {
    height: 40vmin;
    width: 400vmin;
    object-fit: cover;
    object-position: center;
}

.mainbody {
    display: flex;
    flex-direction: column;
    font-family: "Libre Franklin", sans-serif;
}

.content-boxes {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 10%;
}

.boxed {
  animation: hover 2s fowards;
  color: white;
  border-radius: 10px;
  height: 400px;
  width: 22%;
  background-color: #C6C5B9;
  transition: all 0.5s ease;
  text-decoration: none;
}

.boxed:hover {
  transform: scale(1.02);
}

.boxed h1 {
    font-weight: 700;
    color: #3E5C76;
    margin: 10%;
}

.boxed p {
    font-size: x-large;
    margin: 10%;
}

footer {
  padding: 2rem 1rem;
  background-color: gray;
  display: flex;
}

.social-link {
   padding: 0.05%; 
}

.waves {
    position: relative;
}

.custom-shape-divider-top-1714174669 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1714174669 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 165px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1714174669 .shape-fill {
    fill: #393D3F;
}
